$body-color: #eee;

html,
body {
	background-color: $body-color;
	height: 100%;
}

* {
	padding: 0;
	margin: 0;
	// background-color: $body-color;
	// background-image: url(./img/微信截图_20200530143442.png);
}

#performance-info {
	opacity: 0.8;
	font-family: Helvetica, Arial, sans-serif;
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
	pointer-events: none;
}
#performance-info em {
	font-style: normal;
}
